@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #DFE0E3;
}

html, body, p {
  font-family: var(--font-roboto);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-roboto_slab);
  font-weight: 700;
}

h1 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.75rem;
  margin-top: 1.75rem;
  margin-bottom: 0.9rem;
}

h3 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;

}

h4 {
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;  
}

h5 {
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem; 
}

h6 {
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem; 
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
